{% extends '@MorphView/layout.html.twig' %}

{% pcvarset('page_title', 'Products') %}

{% block page_content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('product_ims_product_create') }}" class="btn btn-info">Create</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Product Table</h3>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>CreatedAt</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in output.sourceData %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.description }}</td>
                                <td>{{ product.createdAt|date('Y-m-d') }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{{ path('product_ims_product_update', {'id': product.id}) }}" class="btn btn-info">Edit</a>
                                        <a href="{{ path('product_ims_product_delete', {'id': product.id}) }}" class="btn btn-danger">Del</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer clearfix">
                    {{ knp_pagination_render(output.sourceData) }}
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
